
img{
  max-width: 30%;
  max-height:20%;
}
footer {
  text-align: center;
}
h1 {
  color: #0e0c13;
  color:#F0F0FF;
  color: rgb(70, 156, 255);
  display: block;
  font-size: 2em;
  font-family: Helvetica;
}