body {
  background-image: url(https://pbs.twimg.com/media/F0b2AnpagAAB4RU?format=jpg&name=large);
  padding:100px;
}
header {
  text-align: center;

}
footer {
  text-align: center;
}
h1, h2, h3{
  color: white;
  text-align: center;
  font-family:Helvetica;
}

figcaption{
  color: white;
  font-style: italic;
  padding: 10px;
  font-size: 15px;
}
p {
  font-family: verdana;
  color: white;
  font: bold;
  font-size: 15px;
}

a {
  color: rgb(156, 207, 247);
  font-family: sans-serif;
}
figure{
  font: bold;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

ul{
  color:white;
  padding: 10px;
  font-family: sans-serif;
}

.border {
  width: 80%;
  background-color: rgba(23, 38, 70, 0.9);
  border: 2px solid rgb(66, 89, 150);
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width:800px;
}

/* Table */
table {
  border-collapse: collapse;
  margin: 0px auto; 
  width:60%;
}

th {
  background-color: rgb(38, 38, 56);
  color: white;
}

td, th {
  border: 1px solid rgba(29, 26, 51, 0.9);
  font-family:Helvetica;
  text-align: center; 
}

table tr:nth-child(even) {
  background-color: #ddd;
}

table tr:nth-child(odd) {
  background-color: #ffffff;
}

li {
  color: ivory;
  font-family:Helvetica;
  margin: 0.2em auto
}

/* form */
form{
  max-width: 90%px;
  padding: 20px; 
  color: whitesmoke;
  font-family:Helvetica;
  text-align: left;
}
input{
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.input-element{
  display: flex;
  flex-direction: column;
  margin: 10px;
  
}
select{
  padding: 5px;
  border: none;
  border-radius: 5px;
  
}
input[type="checkbox"]{
  width: 15px;
  height: 10px;
  margin: 0.5em auto;
}
input[type="radio"]{
  width: 15px;
  height: 10px;
  margin: 0.5em auto;
}
button[type="reset"], button[type="submit"]{
  width: 100%;
  font-family: Helvetica;
  margin: 0.3em auto;
  height: 2em;
}


