@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #7ac2ff ;
  --primary-color-dark: #5badf6;
  --secondary-color: #ffb77a;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #f1f8ff;
  --max-width: 1200px;
}
html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 5rem);
}
.border{
  width: 100%;
  background-color: white;
  border: 1.5px solid #9c9898;
  margin-left: auto;
  margin-right: auto;
  max-width:1200px;
}
h1 {
  z-index: 1;
  padding-top:90px;
  color: var(--primary-color-dark);

}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e4e7ea;
  
}

/* navbar */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
  border-style: solid;
  border-color: #9c9898;
}

.navbar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

/* about section */
#about .about_img {
  max-width: 25%;
  max-height: 25%;
}
#about .about_img2 {
  max-width: 25%;
  max-height: 25%;
}

#welcome {
  text-align: center;

}

#welcome .food {
  width: 100%;
  height: 550px;
  z-index: 2;
  padding-top: 20px;
}



/* image slider */

.container {
  padding: 20px; 
}

.weekly-title {
  font-size: 2rem;
  text-align: left;
}

.description, h3 {
  line-height: 1.5rem;
  text-align: left;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}


.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 20%;
}


a {
	outline: none;
	color: #3498db;
	text-decoration: none;
}

a:hover, a:focus {
	color: #528cb3;
}

#weekly, 
#recipe,
#essentials,
#writing {
	padding: 1em;
}

.column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px 10px;
  text-align: left;
  list-style-type: none;

}

.column img {
  width: 400px;
  max-width: 350px;
  height: 400px;
  object-fit: cover;
  box-sizing: border-box;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  list-style-type: none;
}

.column figure:hover {
  transform: scale(1.05);
  cursor: grabbing;
  
}

/* about section */
#about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

#about .text-container {
  max-width: 60%;
}

#about .about_img {
  width: 40%;
  margin-left: 20px;
}

#about h2,
#about h3,
#about p {
  margin-bottom: 10px;
}

#about h2.weekly-title {
  font-size: 2rem; 
}

/* weekly section */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; 
  background-color: white;
  border: 2px solid #9c9898; 
}

section {
  margin-bottom: 20px; 
}

/* essential section */
.essentials_container {
  max-width: 1200px;
  margin: 20px;
  padding: 20px; 
  background-color: white;
  border: 2px solid #9c9898; 
}
.card {
  display: flex;
  margin-top: 25px;
  flex-basis: 300px;
  background-image: linear-gradient(to bottom, rgba(164, 171, 165, 0.108), rgb(228, 227, 227));
  padding: 3px;
  border-radius: 8px;
  width: 270px;
  margin: 10px;
}
.card:hover {
  cursor: pointer;
}

.card figcaption {
  font-weight: 600; /* You can adjust this value to control the boldness */
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.card {
  margin: 10px;
}

.card_body {
  padding: 15px 20px 20px;
}
.card_title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}
.card-text {
  font-size: 18px;
  color: #333;
}
#essentials_2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; 
  margin: 0;
  padding: 0;
}

/* writing section */
#writing {
  padding: 20px;
}

.writing-container {
  width: 90%;
  display: grid;
  grid-gap: 50px;
}

.writing-box {
  height: 100%;
  border: 1px solid #9c9898; 
  padding: 20px;
}

h3.writing_h3:hover{
    color: #528cb3;
    cursor: pointer;
}
.writing-figure {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.writing-item {
  width: 100px;
  height: auto;
}

footer {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.hidden-section {
  display: none;
}

.active-section {
  display: block;
}

