<header>
  <!-- navbar pixel border -->
  <section class="pixel-border" id="header">
    <aside>
      <nav class="nav-bar">
        <h1>Emily's Stardew Valley Guidebook</h1>
        <ul>
          <li><a href="./" title="home">Home</a></li>
          <li><a href="./gettingstarted.html" title="getting-started">Getting Started</a></li>
          <li><a href="farm.html" title="the farm">The Farm</a></li>
          <li><a href="./villagers.html" title="villagers">Villagers<br></a></li>
          <li><a href="./gameplay.html" title="gameplay">Gameplay</a></li>
        </ul>
      </nav>
    </aside>
  </section>
</header>