<header>
  <h1>Audy Vee's Appealing Vampire Bat ★ ITIS 3135</h1>
 <main>
  <nav>
    <a href="./">Homepage</a>
    <a href="introduction.html">Introduction</a>
    <a href="contract.html">Contract</a>
    <a href="tables.html">Tables</a>
    <a href="forms.html">Forms</a>
    <a href="website_evaluations.html">Website Evaluations</a>
    <a href="/">Back to Main Site</a>
  </nav>
  
  <nav class="navbar-bottom">
    <a href="stuff/P00Py_wEB🐯Page$.htm">Crappy Webpage</a>
    <a href="byo_intro.html">BYO Intro</a>
    <a href="firstscripts.html">firstscript</a>
    <a href="interactiveDrawing.html">Interactive Drawing</a>
    <a href="hobby/index.html">Hobby</a>
    <a href="slideshow.html">Slideshow</a>
    
  </nav>
</header>