<header>
  <h1>Audy Vee's Appealing Vampire Bat ★ ITIS 3135</h1>
 <main>

  <ul>
    <nav class="nav-bar">
      <ul>
        <li><a href="./">Home</a></li>
       <li><a href="introduction.html">Introduction</a></li>
       <li><a href="contract.html">Contract</a></li>
        <li>
          <a href="#">HTML/CSS Assignments ▾</a>
          <ul class="dropdown">
            <li><a href="tables.html">Tables</a></li>
            <li><a href="forms.html">Forms</a></li>
            <li><a href="website_evaluations.html">Website Evaluations</a></li>
            <li><a href="stuff/P00Py_wEB🐯Page$.htm">Crappy Webpage</a></li>
            <li><a href="review1.html">Review 1</a></li>
            <li><a href="review2.html">Review 2</a></li>
          </ul>
        </li>
        <li>
          <a href="#">JS Assignments ▾ </a>
          <ul class="dropdown">
            <li><a href="calculator_try.html">Calculator Try</a></li>
            <li><a href="calculator_fcc.html">Calculator FCC</a></li>
            <li><a href="byo_intro.html">BYO Intro</a></li>
            <li><a href="firstscripts.html">firstscript</a></li>
            <li><a href ="arrays.html">Arrays</a></li>
            <li><a href="slideshow.html">Slideshow</a></li>
            <li><a href="vee-Activity13.html">Activity 13</a></li>
            <li><a href="vee-Activity14.html">Activity 14</a></li>
            <li><a href="interactiveDrawing.html">Interactive Drawing</a></li>
          </ul>
        </li>
    
        <nav class="navbar-bottom">
          <li><a href="hobby/index.html">Hobby</a></li>
         <li> <a href="projects/index.html">Client Project</a></li>
        </nav>
      </nav>
    </ul>
    <!-- 
    
    
  </nav> -->
</header>