body{
  background-color: #EFEFF1;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
 /* background: #f5f6f7; */
}
img{
  width: 50px;
  height: 50px;
}
h1{
  text-align:left;
  flex-wrap: wrap;
  align-items: left;
  font-size: 25px;
  color: #262626;
  padding-top:1px;
   padding-bottom:5px;
   margin-bottom: 0;
   padding-bottom: 0;
}

.header {
  border-style: solid;
    border-bottom-width:1px;
    box-shadow: 0.05555555555555555rem 0.05555555555555555rem 0.1111111111111111rem;
    border-bottom-color: #F1F1F1;
    padding: 1px;
    background-color: #F1F1F1;
    color: #E5E5E5;
    border-bottom: 2px solid #E5E5E5;

}
main, footer{
  padding: 20px;
}
